<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="D:\temp\internal-nlog.txt">

	<!-- 定义日志目标 -->
	<targets>
		<!-- 文件日志目标 -->
		<target xsi:type="File"
				name="allfile"
				fileName="${basedir}/Logs/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<!-- 原始消息日志目标 -->
		<target xsi:type="File"
				name="rawMessages"
				fileName="${basedir}/Logs/RawMessages/${shortdate}.log"
				layout="${longdate}${newline}${message}${newline}----------------------------------------${newline}" />

		<!-- 调试日志目标 -->
		<target xsi:type="Debugger"
				name="debugger"
				layout="${date:format=HH\:mm\:ss}|${level:uppercase=true}|${message}" />
	</targets>

	<!-- 定义日志规则 -->
	<rules>
		<!-- 记录所有日志到文件 -->
		<!--
		<logger name="*" minlevel="Trace" writeTo="allfile,debugger" />
		-->

		<!-- 记录接收到的消息 -->
		<logger name="ReceivedMsg" minlevel="Trace" writeTo="rawMessages" final="true" />
	</rules>
</nlog>