<?xml version="1.0" encoding="utf-8" ?>
<!--日志配置文件-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="false"
	  internalLogLevel="Trace">

	<!-- 自动重新加载配置文件  throwConfigExceptions="true"  -->
	<targets async="true">
		<!-- 写日记位置名称-->
		<!--Trace-->
		<target name="Tracelogfile" xsi:type="File" fileName="Logs/${date:format=yyyy-MM-dd}/file-trace.log"
				layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}"
				encoding="utf-8"  />
		<!--Debug-->
		<target name="Debuglogfile" xsi:type="File" fileName="Logs/${date:format=yyyy-MM-dd}/file-debug.log"
			layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
			encoding="utf-8"  />
		<!--Info-->
		<target name="Infologfile" xsi:type="File" fileName="Logs/${date:format=yyyy-MM-dd}/file-info.log"
				layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
				encoding="utf-8"  />
		<!--Warn-->
		<target name="Warnlogfile" xsi:type="File" fileName="Logs/${date:format=yyyy-MM-dd}/file-warn.log"
				layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
				encoding="utf-8"  />
		<!--Error-->
		<target name="Errorlogfile" xsi:type="File" fileName="Logs/${date:format=yyyy-MM-dd}/file-error.log"
				layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
				encoding="utf-8"  />
		<!--Fatal-->
		<target name="Fatallogfile" xsi:type="File" fileName="Logs/${date:format=yyyy-MM-dd}/file-fatal.log"
				layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
				encoding="utf-8"  />
				<!-- 输出到控制台 -->

		<!-- 为每个类分别定义一个日志文件 -->
		<target name="Barcodelogfile" xsi:type="File" fileName="Logs/BarCodeLog/${date:format=yyyy-MM-dd}BarCode.log"
				layout="日志时间：${longdate}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
				encoding="utf-8"  />

		<target name="PLCdatabaselogfile" xsi:type="File" fileName="Logs/PLCDataBaseLog/${date:format=yyyy-MM-dd}PLCDataBase.log"
				layout="日志时间：${longdate}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
				encoding="utf-8"  />
		
		<target name="Productionlogfile" xsi:type="File" fileName="Logs/ProductionLog/${date:format=yyyy-MM-dd}Production.log"
				layout="日志时间：${longdate}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
				encoding="utf-8"  />

		<target name="MESBarCoodelogfile" xsi:type="File" fileName="Logs/MESBarCoodeLog/${date:format=yyyy-MM-dd}MESBarCoode.log"
			layout="日志时间：${longdate}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
			encoding="utf-8"  />

		<target name="MESDatalogfile" xsi:type="File" fileName="Logs/MESDataLog/${date:format=yyyy-MM-dd}MESData.log"
			layout="日志时间：${longdate}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
			encoding="utf-8"  />
	
	   <target name="Modellogfile" xsi:type="File" fileName="Logs/ModelLog/${date:format=yyyy-MM-dd}Model.log"
			layout="日志时间：${longdate}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
			encoding="utf-8"  />

		<target name="Parametlogfile" xsi:type="File" fileName="Logs/ParametLog/${date:format=yyyy-MM-dd}Paramet.log"
			layout="用户:日志时间：${longdate}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}=============================================================${newline}"
			encoding="utf-8"  />

		<target name="AccountManageLogfile" xsi:type="File" fileName="Logs/用户管理日志/${date:format=yyyy-MM-dd}_AccountManage.log"
	  layout="操作人：${var:LoginName}${newline}日志时间：${longdate}${newline}${message}${newline}${newline}=============================================================${newline}"
	  encoding="utf-8"  />

		<target name="ArgumentConfigLogfile" xsi:type="File" fileName="Logs/操作记录日志/${date:format=yyyy-MM-dd}_ArgumentConfig.log"
	  layout="操作人：${var:LoginName}${newline}操作时间：${longdate}${newline}${message}${newline}${newline}=============================================================${newline}"
	  encoding="utf-8"  />
		
		</targets>
	    
	

	<rules>
		<!-- 规则配置 -->
		<!--<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="Tracelogfile" />-->
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="Debuglogfile" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="Infologfile" />
		<logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="Warnlogfile" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="Errorlogfile" />
		<logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="Fatallogfile" />

		<!-- 规则1: 类BarCodeLog的日志写入Barcodelogfile  请使用Trace-->
		<logger name="BarCodeLog" writeTo="Barcodelogfile" />
		
		<logger name="PLCDataBaseLog" writeTo="PLCdatabaselogfile" />

		<logger name="ProductionLog" writeTo="Productionlogfile" />

		<logger name="MESBarCoodeLog" writeTo="MESBarCoodelogfile" />

		<logger name="MESDataLog" writeTo="MESDatalogfile" />
	
        <logger name="ModelLog" writeTo="Modellogfile"/>
		
		<logger name="ParametLog" writeTo="Parametlogfile"/>

		<logger name="AccountManageLog" writeTo="AccountManageLogfile" />

		<logger name="ArgumentConfigLog" writeTo="ArgumentConfigLogfile" />

	</rules>
</nlog>